Repository GoogleCloudPlatform/cloud-ops-sandbox, changes with the owners that CODEOWNERS names for each.
All owners: @simonz130, @Daniel-Sanche, @GoogleCloudPlatform/observability-devx, @bleything

Update dependency google-auth to v1.20.1
  src/emailservice/requirements.txt
  src/recommendationservice/requirements.txt
Owners: @simonz130, @GoogleCloudPlatform/observability-devx

Updated app.yaml
  app.yaml
Owners: @simonz130, @Daniel-Sanche

Added website documentation
  website/README.md
Owners: @simonz130, @Daniel-Sanche

Updated stylistic website changes
  website/css/main.css
  website/index.html
Owners: @simonz130, @Daniel-Sanche

Corrected website URLs
  website/README.md
Owners: @simonz130, @Daniel-Sanche

Corrected website URL prefixes
  website/README.md
Owners: @simonz130, @Daniel-Sanche

Update dependency google-auth to v1.20.1 (#284)
  src/emailservice/requirements.txt
  src/recommendationservice/requirements.txt
Owners: @simonz130, @GoogleCloudPlatform/observability-devx

Update dependency google-cloud-trace to v0.24.0
  src/emailservice/requirements.txt
  src/recommendationservice/requirements.txt
Owners: @simonz130, @GoogleCloudPlatform/observability-devx

moved log message inside conditional
  terraform/install.sh
Owners: @bleything, @GoogleCloudPlatform/observability-devx

Update dependency google-cloud-trace to v0.24.0 (#285)
  src/emailservice/requirements.txt
  src/recommendationservice/requirements.txt
Owners: @simonz130, @GoogleCloudPlatform/observability-devx

CODEOWNERS:

*                                                               @simonz130 @Daniel-Sanche
/.gitattributes                                                 @GoogleCloudPlatform/observability-devx
/.gitignore                                                     @GoogleCloudPlatform/observability-devx
/src/                                                           @simonz130 @GoogleCloudPlatform/observability-devx
/terraform/                                                     @bleything @GoogleCloudPlatform/observability-devx
/cloud-shell/                                                   @GoogleCloudPlatform/observability-devx
/tests/                                                         @simonz130 @GoogleCloudPlatform/observability-devx
/.github/                                                       @Daniel-Sanche @GoogleCloudPlatform/observability-devx
